@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: #9b59b6;
}
.container
{
    margin: 50px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 265px);
}
.container li
{
    height: 280px;
    padding: 15px 20px 20px;
    list-style: none;
    background: #fff;
    border-radius: 5px;
}
.add_box, .icon, .bottom_content,
.settings .menu li, .popup, header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add_box
{
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.add_box .icon
{
    justify-content: center;
    height: 78px;
    width: 78px;
    border-radius: 50%;
    font-size: 40px;
    color: #9b59b6;
    border: 2px dotted #9b59b6;
}
.add_box p
{
    font-weight: 500;
    color: #9b59b6;
    margin-top: 20px;
}
.note p
{
    font-weight: 500;
    font-size: 22px;
}
.note span
{
    margin-top: 5px;
    padding-bottom: 5px;
    display: block;
    color: #575757;
    font-size: 16px;
}
.container .note
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.note .bottom_content
{
    border-top: 1px solid  #ccc;
    padding-top: 10px;
}
.bottom_content span
{
    color: #6d6d6d;
    font-size: 14px;
}
.bottom_content .settings i
{
    color: #6d6d6d;
    font-size: 14px;
    cursor: pointer;
}
.settings {
    position: relative;
}
.settings .menu
{
    position: absolute;
    bottom: 0;
    right: -5px;
    padding: 5px 0;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    transform-origin: bottom right;
    transform: scale(0);
    transition: transform .2s ease-in-out;
}
.settings.show .menu
{
    transform: scale(1);
}
.settings .menu li
{
    height: 28px;
    border-radius: 0;
    justify-content: flex-start;
    font-size: 16px;
    cursor: pointer;
    padding: 17px 15px;
}
.menu li:hover
{
    background: #f5f5f5;
}
.menu li i
{
    padding-right: 8px;
}
.popup_box
{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    z-index: 2;
}
.popup_box .popup
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    max-width: 400px;
    width: 100%;
    justify-content: center;
}
.popup_box, .popup_box .popup
{
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease-in-out;
}
.popup_box.show, .popup_box.show .popup
{
    opacity: 1;
    pointer-events: auto;
}
.popup .content 
{
    width: calc(100% - 15px);
    border-radius: 5px;
    background: #fff;
}
.popup .content  header
{
    border-bottom: 1px solid #ccc;
    padding: 15px 25px;
}
.content  header p
{
    font-size: 20px;
    font-weight: 500;
}
.content  header i
{
    font-size: 23px;
    cursor: pointer;
    color: #8b8989;
}
.content form
{
    margin: 15px 25px 35px;
}
.content form .row
{
    margin-bottom: 20px;
}
form .row label
{
    margin-bottom: 6px;
    display: block;
    font-size: 18px;
}
.content form :where(input, textarea)
{
    border-radius: 4px;
    border: 1px solid #999;
    width: 100%;
    height: 50px;
    outline: none;
    padding: 0 15px;
}
.content form textarea
{
    height: 150px;
    resize: none;
    padding: 8px 15px;
}
.content form button
{
    width: 100%;
    height: 50px;
    font-size: 18px;
    border: none;
    outline: none;
    background: #9b59b6;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}